.header{
  padding: 20px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}